<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper shadow mb-5 row">
        <div class="title">
          404: Unretrievable page
        </div>
        <div class="sm-title">
          404 <br>
          Unretrievable page
        </div>
        <!-- <img src="assets/img/golden-retriever.jpg"> -->
        <button type="button" [routerLink]="['/welcome']" class="btn btn-sm btn-block">Go back home</button>
      </div>
    </div>
  </div>
</div>
