/* change the background color */
.navbar-custom {
  background-color: #3c4859;

  .navbar-brand {
    font-size: 22px;
    color: #fcbe32;
    font-weight: 600;
  }
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: white;
}

form {
  button {
    background-color: #fcbe32;
    color: #3c4859;
    font-weight: 600;
  }

  button:hover {
    color: white;
  }
}

@media (max-width: 991px) {
  .form-inline {
    display: none;
  }

  .navbar-brand {
    margin: 0px auto;
  }
}
