<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper row">
        <div class="title">
          Log in
        </div>
        <div>
          <hr>
          <form id="form" [formGroup]="loginForm">
            <!-- Email textbox -->
            <div class="form-group">
              <input type="email" formControlName="email" class="form-control" placeholder="Email" tabindex="1">
            </div>
            <!-- Password textbox -->
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" placeholder="Password" tabindex="2">
              </div>
            <div class="forgot-link">
              <a [routerLink]="['/forgot']" tabindex="3">Forgot account?</a>
            </div>
            <!-- Login button -->
            <button type="button" (click)="post()" class="btn login-button btn-block" tabindex="4">Log in</button>
          </form>
        </div>

        <div class="separator">
          <div> <hr> </div>
          <div> OR </div>
          <div> <hr> </div>
        </div>
        <a class="btn btn-outline-secondary register-button btn-block" [routerLink]="['/register']" role="button" tabindex="5">Create an account</a>
      </div>
    </div>
  </div>
</div>
