.wrapper {
  max-width: 500px;
  background-color: white;
  margin: 25px auto 0px auto;
  padding: 0px 15px;
  border-radius: 10px;
  justify-content: center;

  .title {
    width: 100%;
    color: #3c4859;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }

  form {
    width: 333px;

    a:hover {
      text-decoration: underline;
    }

    .forgot-link {
      text-align: right;
    }
  }

  .login-button {
    background-color: #fcbe32;
    color: #3c4859;
    margin: 25px 0px 0px 0px;
    font-weight: 600;
  }

  .login-button:hover {
    color: white;
  }

  .separator {
    width: 333px;
    margin: 20px 0px 0px 0px;
    text-align: center;
    display: flex;
    color: #8c939c;

    div {
      flex: 1;
    }
  }

  .register-button {
    width: 333px;
    font-weight: 600;
    margin: 15px 0px 0px 0px;
  }

  .create-account {
    margin: 10px 0px 0px 0px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    .title {
      margin: 30px 0px 0px 0px;
    }
  }
}
