<div class="container-fluid">
  <div class="main row">
    <div class="col-md-12">
      <div class="title row">
        Studybuddy
      </div>
      <div class="buttons row">
        <button type="button" class="btn btn-outline-light register-button" [routerLink]="['/register']">Register</button>
        <button type="button" class="btn btn-outline-light login-button" [routerLink]="['/login']">Log in</button>
      </div>
    </div>
  </div>

  <div class="learn-more row">
    What's Studybuddy?
  </div>

  <div class="who-we-are row">
    <div class="col-md-12">
      <div class="wrapper row">
        <div class="content">
          Studybuddy is a community of students looking for classmates to study with.
          Register with your classes and see who is looking for a studybuddy in them,
          so you can skip the hassle of studying alone and get to studying together!
        </div>
      </div>
    </div>
  </div>

  <div class="how-to row">
    <div class="col-md-12">
      <div class="title row">
        How it works
      </div>
    </div>
    <div class="col-md-3">
      <div class="step-image row">
        <img height="90%" src="assets/img/search.svg">
      </div>
      <div class="step-title row">
        Search
      </div>
      <div class="step-description row">
        Select a course
      </div>
    </div>
    <div class="col-md-3">
      <div class="step-image row">
        <img src="assets/img/browse.svg">
      </div>
      <div class="step-title row">
        Browse
      </div>
      <div class="step-description row">
        Choose a buddy
      </div>
    </div>
    <div class="col-md-3">
      <div class="step-image row">
        <img src="assets/img/meet.svg">
      </div>
      <div class="step-title row">
        Connect
      </div>
      <div class="step-description row">
        Meet effortlessly
      </div>
    </div>
  </div>

  <div class="register row">
    <div class="col-md-12">
      <div class="wrapper mb-5">
        <h3>Find a buddy now!</h3>
        <div class="content">
          Browse Florida International students<br>
          who are studying for your classes.
        </div>
        <a [routerLink]="['/register']" class="btn btn-lg register-button" role="button">
            Register
        </a>
      </div>
    </div>
  </div>

  <div class="footer row">
    <div class="col-md-4">
      <h3>Studybuddy</h3>
      <div>
        <a [routerLink]="['/register']">Register</a> <br>
        <a [routerLink]="['/login']">Log In</a> <br>
        Terms<br>
        Help<br><br>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Partners</h3>
      <div>
          <a href="https://www.fiu.edu/" target="_blank">Florida International University</a><br>
        <a href="https://upe.cs.fiu.edu/" target="_blank">Upsilon Pi Epsilon</a><br>
        SparkDev<br><br>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Follow us</h3>
      <div>
        Facebook<br>
        Twitter<br><br>
      </div>
    </div>
    <div class="col-md-12">
      <div class="copyright row">Studybuddy &copy; 2018</div>
    </div>
  </div>
</div>
